h1{
    color:#0b5d8c;
    text-align: center;
    font-family: "Arial";
    font-size: 40px;
    margin-top: 15px;
}

body{
    background-color: #e8e8cf;
}

.clg-names{
    text-align: center;
    margin-top: 20px;
    font-family: "Arial";
}

.students{
    table-layout: auto;
    width: 700px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.card{
    margin-top: 10px;
}
.card-text{
    margin-top: 15px;
}
td {
    border-bottom: 1px solid #6e5b5a;
    font-family: "Arial";
    text-align: center;
    padding: 15px;
  }
tr:hover {background-color:#cfccdb;}

