<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "college/master.css" %}"/>
    </head>
    <body>
        <h1>Colleges</h1>
        {% for college in colleges %}
        <div class="card mx-auto" style="width: 40rem;">
            <div class="card-body">
                <h4 class="clg-names">{{college.college_name}}</h4>
                <h6 class="card-text">Address : </h6>
                <p class="card-text">{{college.college_address}}</p>
                <a href="{% url 'college:students' college.id %}" class="btn btn-primary">Visit</a>
            </div>
        </div>
        {% endfor %}          

    </body>
</html>