<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{college.college_name}} Student Details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "college/master.css" %}"/>
    </head>
    <body>
        <h1>{{college.college_name}} - Student Details</h1>
        <div style="overflow-x:auto;">
        <table  class="students">
            <thread>
            <tr>
                <th>Name</th>
                <th>Dept</th>
                <th>1st Year</th>
                <th>2nd Year</th>
                <th>3rd Year</th>
                <th>4th Year</th>
                <th>Average Marks</th>
            </tr>
            </thread>
            <tbody>
            {% for i,j in details %}
            <tr>
                <td>{{i.student_name}}</td>
                <td>{{i.branch}}</td>
                <td>{{i.first_year}}</td>
                <td>{{i.second_year}}</td>
                <td>{{i.third_year}}</td>
                <td>{{i.fourth_year}}</td>
                <td>{{j}}

            </tr>

            {% endfor %}  
            </tbody>
        </table>

        </div>
                  

    </body>
</html>